{% extends 'base.html' %}

{% block header %}
	<h1>My Notes</h1>

	<a class="btn btn-primary d-table my-auto" role="button" href="/addNote">New Note</a>
{% endblock %}

{% block content %}
	<div class="row mt-3">
		{% if note|length %}
			<div class="col-xs-12 col-lg-6 mx-auto">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Title</th>
								<th scope="col">Last Modified Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for notes in note %}
								<tr class="align-middle">
									<td>{{ notes['noteTitle']['S'] }}</td>
									<td>{{ notes['lastModifiedDate']['S'] }}</td>
									<td>
										<a class="btn btn-primary" role="button" href="{{ url_for('viewNote', noteId=notes['noteid']['N']) }}">View</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<div class="col-xs-12 col-lg-6 mx-auto">
				<h3>Your notebook is empty</h3>
			</div>
		{% endif %}
	</div>
{% endblock %}
