{% extends 'base.html' %}

{% block header %}
	<div class="col">
		<h1 class="mb-0">{{ headerLabel }}</h1>
		{% if note and note['lastModifiedDate'] %}
			<small class="fs-6 text-muted">(last modified: {{ note['lastModifiedDate'] }})</small>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<form method="post" action="{{ submitAction }}">
		<div class="row mt-4">
			<div class="col-xs-12 col-md-6 mx-auto">
				<label for="noteTitle" class="form-label">Title</label>
				<input type="text" class="form-control" id="noteTitle" name="noteTitle" value="{{ note['title'] if note }}">
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-xs-12 col-md-6 mx-auto">
				<label for="noteMessage" class="form-label">Message</label>
				<textarea class="form-control" id="noteMessage" name="noteMessage" rows="15">{{ note['message'] if note }}</textarea>
			</div>
		</div>
		{% if note %}
			<input type="hidden" name="noteId" value="{{ note['id'] }}">
		{% endif %}
		<div class="row mt-3">
			<div class="d-flex justify-content-end col-xs-12 col-md-6 mx-auto">
				<button type="submit" class="btn btn-primary">Save Note</button>
				<a class="btn btn-secondary ms-2" role="button" href="{{ cancelUrl }}">Cancel</a>
			</div>
		</div>
	</form>
{% endblock %}